{# templates/home/cgu.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}
    <h1>About us</h1>
    {% include 'under_construction.html.twig' %}
{% endblock %}