{# templates/home/cgu.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}CGU{% endblock %}

{% block body %}
    <h1>Legal notices</h1>
    {% include 'under_construction.html.twig' %}
{% endblock %}