{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome here !</h1>
    <p class="text-center mt-5">This website allows you to generate a resume that you can then send by email to your
        correspondents.<br>
        It is up to you to fill in your personal details as well as the history of your studies and some information
        about your skills.</p>
{% endblock %}