{# templates/home/profile.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <h1>Your profile</h1>
    {% include 'under_construction.html.twig' %}
{% endblock %}