{# templates/home/settings.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <h1>Your settings</h1>
    {% include 'under_construction.html.twig' %}
{% endblock %}