.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 0.25rem;
    background-position: 1rem;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    text-indent: 3rem;
}

.alert-danger {
    border: 2px solid $danger-border !important;
    background-image: url(/assets/images/danger.png);
    background-color: $danger-bg !important;
    color: $danger-color !important;
}

.alert-warning {
    border: 2px solid $warning-border !important;
    background-image: url(/assets/images/warning.png);
    background-color: $warning-bg !important;
    color: $warning-color !important;
}

.alert-success {
    border: 2px solid $success-border !important;
    background-image: url(/assets/images/success.png);
    background-color: $success-bg !important;
    color: $success-color !important;
}

.alert-info {
    border: 2px solid $info-border !important;
    background-image: url(/assets/images/info.png);
    background-color: $info-bg !important;
    color: $info-color !important;
}