* {
    background-color: $light !important;
    color: $dark !important;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-width: $width-min;
    max-width: $width-max;
    min-height: 100vh;
    margin: auto;
}

header {
    border-bottom: 2px solid $dark;
}

footer {
    border-top: 2px solid $dark;
}

h1 {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.75rem;
}

a {
    text-decoration: none;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-brand img {
    width: 50px;
    margin-right: 20px;
    padding-bottom: 5px;
}
