.create {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-image: url(/assets/images/create.png);
}

.read {
    background-image: url(/assets/images/read.png);
}

.update {
    background-image: url(/assets/images/update.png);
}

.delete {
    background-image: url(/assets/images/delete.png);
}

