.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    .form-register {    
        margin-top: 1.5rem;
    }

    .form-class {
        margin-top: 1.5rem;
        font-weight: bold;
    }

    .email {
        max-width: 500px;
        height: 3rem;
        border: none;
        border-bottom: 2px solid $dark;
        background-image: url(/assets/images/email.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: 30px 30px;
        text-indent: 3rem;
    }

    .password {
        max-width: 500px;
        height: 3rem;
        border: none;
        border-bottom: 2px solid $dark;
        background-image: url(/assets/images/password.png);
        background-position: left;
        background-repeat: no-repeat;
        background-size: 30px 30px;
        text-indent: 3rem;
    }

    .email:focus, .password:focus {
        outline: none;
    }

    .submit {
        width: 80%;
        border-radius: 1rem;
        border: 2px solid $dark;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }
}