<div class="d-flex flex-column justify-content-center">
    <p class="text-center mt-5 mx-3">This page is under construction.<br>
        A message will appear on the homepage when it is functional.<br>
        Thank you for your patience !</p>
    <img src="{{ asset('build/images/underConstruction.png') }}" alt="under construction page"/>
</div>