{# templates/components/_flash_messages.html.twig #}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible" role="alert">
            <div class=" alert-message-{{ label }} mx-5">{{ message }}</div>
            <button type="button" class="btn-close my-auto" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endfor %}