{# templates/components/_under_construction.html.twig #}
<div class="text-center mx-3">
    <p class="mt-4">
        This page is under construction.<br>
        A message will appear on the homepage when it is functional.<br>
        Thank you for your patience !
    </p>
    <img src="{{ asset('build/images/underConstruction.png') }}" alt="under construction image"/>
</div>